.blackjack-main {
  border: 1px solid black;
  height: 200px;
  width: 200px;
  padding: 10px;
}

.play-blackjack {
  background-color: black;
  position: relative;
  color: white;
  height: 50px;
  width: 60px;
  /*text-align: center;*/
  margin: auto;

}
